.common {
    display: flex;
    margin: 10px;
}

.dialog {
    width: 20%;
    border: solid 1px #000;
    margin-left: 10px;
}

.messages {
    width: 80%;
    border: solid 1px #000;
    margin-left: 10px;
}

.block .active {
    color: gray;
}